name = "lynlab-co-kr"

workers_dev = true
main = "./build/index.js"
# https://developers.cloudflare.com/workers/platform/compatibility-dates
compatibility_date = "2023-08-15"

[[kv_namespaces]]
  binding = "__KV_SESSIONS"
  id = "5a841e28615d4e978c6e8380cabb5aa7"
  preview_id = "86e7e3b948cc4c8eaf4535a40265ccae"

[vars]
SITE_HOST = "https://lynlab.co.kr"
# Secrets (see .dev.vars)
#   - SESSION_SECRET
#   - GITHUB_CLIENT_ID
#   - GITHUB_CLIENT_SECRET

[site]
  bucket = "./public"

[build]
  command = "yarn build"

[placement]
  mode = "smart"
